body {
    width: 450px;
}

#main {
    margin-top: 0px;
    width: 400px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#wordInput {
    width: 150px;
}

#word {
    font-weight: bold;
}

.nature {
    font-style: italic;
    color: #CF2222;
}

#definition {}

.sectionTitle {
    font-style: italic;
    display: none;
    color: #CF2222;
}

.section {
    margin-left: 20px;
}

#wordNotFound {
    font-style: italic;
}